@model DyersCargoTransit_Interface.Models.ShippingSchedule

@{
    ViewData["Title"] = "Create";
}

<partial name="_DashBoard" />

<div class="container row-cols-md-3  d-flex justify-content-center align-items-center "> 



    <form asp-action="Create" class="Razor-Form">

        <center><h3>Create </h3></center>
        <center><h4>Shipping Schedule</h4></center>


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@

        <div class="form-group">
            <label asp-for="DepartureLocation" class="control-label"></label>
            <input asp-for="DepartureLocation" class="form-control" />
            <span asp-validation-for="DepartureLocation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ArrivalLocation" class="control-label"></label>
            <input asp-for="ArrivalLocation" class="form-control" />
            <span asp-validation-for="ArrivalLocation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DepartureTime" class="control-label"></label>
            <input asp-for="DepartureTime" class="form-control" />
            <span asp-validation-for="DepartureTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ArrivalTime" class="control-label"></label>
            <input asp-for="ArrivalTime" class="form-control" />
            <span asp-validation-for="ArrivalTime" class="text-danger"></span>
        </div>

        

        <!--Button row-->
        <div class="row mt-2">

            <div class="form-group col-md-6 formBtn">
                <input type="submit" value="Create Schedule" class="btn btn-primary w-100" />
            </div>


            <div class="form-group col-md-6 formBtn">
                <a  asp-action="Index"  class="btn btn-dark w-100"> Back To List </a>
            </div>
        </div>


    </form>




</div> <!------------>



        






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
