@model DyersCargoTransit_Interface.Models.ViewModels.CusShipmentVM

@{
    ViewData["Title"] = "Create";
}

<partial name="_DashBoard" />

<div class="container row-cols-md-3  d-flex justify-content-center align-items-center ">

    <form asp-action="Create" class="Razor-Form">

        <center>
            <h3>Create</h3>
            <h3>Customer Shipment</h3>
        </center>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @*<div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@


        <div class="form-group">
            <label asp-for="CustomerId" class="control-label"></label>
            <select asp-for="SelectedCustomerId" class="form-control" asp-items="@Model.CustomerList">
                <option disabled selected> -- Select A Customer -- </option>
            </select>
            <span asp-validation-for="SelectedCustomerId" class="text-danger"></span>
        </div>



        <div class="form-group">
            <label asp-for="CargoId" class="control-label"></label>
            <select asp-for="SelectedCargoId" class="form-control" asp-items="@Model.CargoList">
                <option disabled selected> -- Select Cargo -- </option>
            </select>
            <span asp-validation-for="SelectedCargoId" class="text-danger"></span>
        </div>




        <div class="form-group">
            <label asp-for="ShippingScheduleId" class="control-label"></label>
            <select asp-for="SelectedShippingScheduleId" class="form-control" asp-items="@Model.ShippingScheduleList">
                <option disabled selected> -- Select Schedule Id -- </option>
            </select>
            <span asp-validation-for="SelectedShippingScheduleId" class="text-danger"></span>
        </div>




        <div class="form-group">
            <label asp-for="Customer_ShipmentStatusId" class="control-label"></label>
            <select asp-for="SelectedShipmentStatusId" class="form-control" asp-items="@Model.ShipmentStatusList">
                <option disabled selected> -- Select Shipment Status -- </option>
            </select>
            <span asp-validation-for="SelectedShipmentStatusId" class="text-danger"></span>
        </div>


        

        <!--Button row-->
        <div class="row mt-2">

            <div class="form-group col-md-6 formBtn">
                <input type="submit" value="Create Shipment" class="btn btn-primary w-100" />
            </div>


            <div class="form-group col-md-6 formBtn">
                <a asp-action="Index" class="btn btn-dark w-100"> Back To List </a>
            </div>
        </div>


    </form>


</div> <!----------->
        





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
