@model DyersCargoTransit_Interface.Models.ViewModels.CustomerVM

@{
    ViewData["Title"] = "Create";
}




<div class="container row-cols-md-3  d-flex justify-content-center align-items-center ">
    <form asp-action="Create" class="Become-A-Cus-Form">

        <center>
            <div style="color: green;"> <h6>@ViewData["you-are-customer"] </h6> </div>  <!--show succes massage-->
            <h4>Sign Up </h4>
            <h5>To become a Customer</h5>
        </center>


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@

        <div class="form-group">
            <label asp-for="FullName" class="control-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmailAddress" class="control-label"></label>
            <input asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DOB" class="control-label"></label>
            <input asp-for="DOB" class="form-control" />
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>

        <!--row-->
        <div class="row mt-2">
            <div class="form-group col-md-6">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="TRN" class="control-label"></label>
                <input asp-for="TRN" class="form-control" />
                <span asp-validation-for="TRN" class="text-danger"></span>
            </div>
        </div>



        <!--row-->
        <div class="row mt-2">

            <div class="form-group col-md-6">
                <label asp-for="Street" class="control-label "></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Town" class="control-label"></label>
                <input asp-for="Town" class="form-control" />
                <span asp-validation-for="Town" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="ParishId" class="control-label"></label>
            <select asp-for="SelectedParishId" class="form-control" asp-items="@Model.ParishList">
                <option disabled selected> -- Select A Parish -- </option>
            </select>
            <span asp-validation-for="SelectedParishId" class="text-danger"></span>
        </div>



        <div class="form-group row-cols-md-1 formBtn">
            <input type="submit" value="Submit Form" class="btn btn-primary " />
        </div>
    </form>


</div> <!------------>


<!--Img-->
<div>
    <img class="BigImg1" src="~/Images/Trade_board_Jamaica croped 1.png" height="585" />
</div>



<!--Video-->
<div class="HomeVideo-Container">
    <iframe src="https://www.youtube.com/embed/2EVVld054vk?si&autoplay=1&mute=1&playlist=2EVVld054vk&loop=1 "
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
    </iframe>

</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
