@*

<header class="style-header">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  box-shadow mb-3">
        <div class="container-fluid">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <div style="color:white"> <h4>Dyers CargoTransit </h4>  </div> </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                <ul class="navbar-nav flex-grow-1 position-absolute top-50 start-50 translate-middle ">
                    <!--center-->


                    <li class="nav-item">
                        <a class="nav-head-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-head-link" href="~/Home/AboutUs">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-head-link" href="/Home/#Services">Services</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-head-link" href="/Home/AboutUs/#Contact">Contact Us</a>
                    </li>


                    


                    <li class="nav-item">
                        <a class="nav-head-link loginLink" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                    </li>






                </ul>
            </div>
        </div>
    </nav>
</header>*@