@*@{
    ViewData["Title"] = "About Us";
}*@






<center> <h2 class="BigTextaboutTitle">About Us</h2> </center>

<div class="About-info-Container">

        <div class="About-Pic-Container">
            <img src="/Images/dyers cargo transit logo 3.jpg" <img />
        </div>


        <img src="" class="Aboutlogo-img" />


        <div class="AboutText-Container">

            <h5 style="color:blue">Dyer's Cargo Transit</h5>


            <b>Welcome</b>

            <p>
                Welcome to Dyers Cargo Transit, your trusted partner in transportation and logistics solutions.
                With a commitment to excellence, Dyers Cargo Transit leverages cutting-edge technology to provide a
                seamless and reliable cargo management experience. Our team is dedicated to optimizing the transport,
                trucking, and shipping processes to meet the unique needs of our diverse clientele.
            </p>

        </div>

  
</div><!-------------------------------------------------------------------->



<section id="Contact">

  

        <center><h2 class="contact-Title">Contact Us</h2></center>




        <div class="Contact-info-Container">

           @* <div class="Contact-Pic-Container">
                <img src="/Images/dyers cargo transit logo 3.jpg" <img />
            </div>*@


            


            <div class="Contact-Text-Container">

                @*<h6 style="color:blue">Dyer's Cargo Transit</h6>*@


                <b>Contact Us</b>

                <p>
                    Have questions or need assistance? Reach out to our dedicated support team 
                    at support@dyerscargo.com or call us at +1 (876) 408-6170. 
                </p>


                

            </div>


        </div><!-------------------------------------------------------------------->









</section>

