@{
    ViewData["Title"] = "Home Page";
}



<div class="Home-Container-On-BigImage">


    <div class="LogoPic-In-Home-Container">
        <img src="/Images/dyers cargo transit logo 3.jpg" <img />
    </div>


    <div class="text-in-Home-Container">
        <h1>
            Cargo Transit
        </h1>
        <h3>
            your trusted partner in transportation and logistics solutions
        </h3>
    </div>


    <div class="HomeNavBtns">
        <a class="homePage-Btn" href="#Services">Learn More</a>
 
            <a class="homePage-Btn" href="BecomeACustomer/Create">Become A Customer</a>
    </div>
    
</div>






<div>

    <img class="BigImg1" src="~/Images/Trade_board_Jamaica croped 1.png" height="585"/>

</div>








<div class="HomeVideo-Container">
    <iframe  src="https://www.youtube.com/embed/2EVVld054vk?si&autoplay=1&mute=1&playlist=2EVVld054vk&loop=1 "
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
    </iframe>

</div>

<!--width="560" height="315"-->





<section id="Services">

    <div>

        <center>
            <h2> Services</h2>
        </center>




        <div class="Service-Big-Container1"> <!--1-->



            <div class="Service-Text-Container">

                <h5 style="color:darkblue">Customs Clearance Assistance</h5>
                <p>
                    Streamline the customs clearance process for international shipments, ensuring smooth transitions across borders.
                </p>

            </div>

           

            <div class="Service-Img-Container">
                <video controls autoplay>
                    <source src="/Images/customs clearance process.webm" />
                </video>
            </div>
          

            



        </div> <!--------------->







        <div class="Service-Big-Container1"> <!--1.1-->

           

            <div class="Service-Img-Container">
                <video controls autoplay>
                    <source src="/Images/ware house wrkers.webm" />
                </video>
            </div>
          

            <div class="Service-Text-Container">

                <h5 style="color:darkblue">Islandwide Delivery</h5>
                <p>
                    
                    Extensive coverage for delivering cargo to various locations across Jamaica, ensuring accessibility to both urban and remote areas.

                </p>

            </div>



        </div> <!--------------->







        <div class="Service-Big-Container1">
            <!--2-->

            <div class="Service-Text-Container">

                
                <h5 style="color:darkblue">24/7 Customer Support</h5>
                <p>
                    Round-the-clock customer support to address inquiries, track shipments, and provide assistance whenever needed.
                </p>

            </div>


            <div class="Service-Img-Container">
                <video  controls autoplay>
                    <source src="~/Images/24-7 customer service.webm" />
                </video>
            </div>

        </div> <!--------------->





        <div class="Service-Big-Container1">
            <!--3-->

            <div class="Service-Img-Container">
                <video controls autoplay>
                    <source src="~/Images/security at ware house.webm" />
                </video>
            </div>

            <div class="Service-Text-Container">
                <h5 style="color:darkblue">Secure Warehousing</h5>
                <p>
                    Safe and secure storage facilities for cargo, with advanced security measures to protect valuable shipments.
                </p>
            </div>
        </div> <!--------------->





        <div class="Service-Big-Container1">
            <!--4-->


            <div class="Service-Text-Container">
                <h5 style="color:darkblue">Bulk Cargo Solutions</h5>
                <p>
                    Tailored solutions for businesses dealing with bulk cargo, optimizing logistics for cost-effective and efficient transportation.
                </p>
            </div>


            <div class="Service-Img-Container">
                <video controls autoplay>
                    <source src="~/Images/bulk-cargo-service.webm" />
                </video>
            </div>

            
        </div> <!--------------->













    </div> <!---->


</section> <!------------------------------------>



@*<video width="640" height="360" controls autoplay>
                <source src="path/to/your/video.mp4" type="video/mp4">
                <source src="path/to/your/video.webm" type="video/webm">
                Your browser does not support the video tag.
 </video>*@